.app_bar {
  background-color: #3c4b69;
  height: 65px;
}

.app_bar .wrapper {
  height: 100%;
  margin: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.app_bar .wrapper .logo {
  font-weight: 700;
  letter-spacing: 0.3rem;
  color: white;
  font-family: 'monospace';
}

.app_bar .wrapper .page_nav {
  gap: 3rem;
}

.app_bar .wrapper .button_group {
  display: flex;
  gap: 1rem;
  /* justify-content: space-between; */
}

.app_bar .wrapper .button_group .login {
  color: inherit;
  border-color: inherit;
}

.app_bar .wrapper .button_group .login:hover {
  background-color: #707b90;
}

.app_bar .wrapper .button_group .signup {
  color: inherit;
  background-color: #576f9d;
}

.app_bar .wrapper .button_group .signup:hover {
  background-color: #707b90;
}
